{% extends 'base.html' %}
{% from 'render_elements.html' import pintar_alerta, modal_referencial_simple, pintar_textarea %}


{% block title %}
{{ titulo }}
{% endblock %}

{% block mi_css -%}

<!-- CSS de Jquery UI -->
<link rel="stylesheet" href="{# url_for('static', filename='vendor/jquery-ui-1.12.1.custom/jquery-ui.min.css') #}">
<!-- CSS de Jquery UI -->
<link rel="stylesheet" href="{# url_for('static', filename='css/jquery-confirm.min.css') #}">
<!-- CSS de EasyAutoComplete -->
<link rel="stylesheet" href="{# url_for('static', filename='vendor/easyautocomplete/css/easy-autocomplete.min.css') #}">
<!-- CSS de tempusdominus -->
<link rel="stylesheet"
    href="{# url_for('static', filename='vendor/tempusdominus/css/tempusdominus-bootstrap-4.min.css') #}">

<style>
    /* Convertir a Mayúscula en esos dos elementos todo lo que escriba el usuario */
    input,
    textarea {

        text-transform: uppercase;

    }
</style>

{% endblock %}

{% block content %}
<!-- MAIN CONTENT-->
<div class="main-content">

    <!-- Contenido Principal -->
    <div class="section__content section__content--p30">
        <div class="container-fluid">

            <!--Inicio primer row-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <a href="{# url_for('consejeria.index') #}" class="btn btn-secondary bt-sm">
                                <i class="fa fa-angle-left"></i> Volver</a>
                        </div>
                        <!--Inicio card-body-->
                        <form action="{# url_for('solicitud_hospital.registrar') #}" method="post" class="form-horizontal">
                            {{ form.csrf_token }}
                            <div class="card-body">
                                <div class="card-title">
                                    <h3 class="text-center title-2"><i class="fa fa-edit"></i> {{ titulo }}
                                    </h3>
                                </div>
                                <hr>
                                <input type="hidden" name="idsolicitud" id="idsolicitud" value="{# idsolicitud if idsolicitud #}">
                                <div class="row form-group">
                                    <div class="col col-sm-12 col-md-1">
                                        {{ form.miembro.label(class='form-control-label form-control-sm') }}
                                    </div>
                                    <div class="col col-sm-12 col-md-5">
                                        {{ form.miembro(class='custom-select custom-select-sm') }}
                                        {% for error in form.miembro.errors %}
                                        <span class="help-block">Cargar este campo</span>
                                        {% endfor %}
                                    </div>
                                    <div class="col col-sm-12 col-md-1">
                                        {{ form.edad.label(class='form-control-label form-control-sm') }}
                                    </div>
                                    <div class="col col-sm-12 col-md-1">
                                        {{ form.edad(class='form-control form-control-sm', disabled=True) }}
                                    </div>
                                    <div class="col col-sm-12 col-md-1">
                                        {{ form.ecivil.label(class='form-control-label form-control-sm') }}
                                    </div>
                                    <div class="col col-sm-12 col-md-2">
                                        {{ form.ecivil(class='custom-select custom-select-sm', disabled=True) }}
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-sm-12 col-md-1">
                                        {{ form.conyuge.label(class='form-control-label form-control-sm') }}
                                    </div>
                                    <div class="col col-sm-12 col-md-5">
                                        {{ form.conyuge(class='custom-select custom-select-sm', disabled=True) }}
                                    </div>
                                    <div class="col col-sm-12 col-md-1">
                                        {{ form.edadconyuge.label(class='form-control-label form-control-sm') }}
                                    </div>
                                    <div class="col col-sm-12 col-md-1">
                                        {{ form.edadconyuge(class='form-control form-control-sm', disabled=True) }}
                                    </div>
                                    <div class="col col-sm-12 col-md-1">
                                        {{ form.tiempocasado.label(class='form-control-label form-control-sm') }}
                                    </div>
                                    <div class="col col-sm-12 col-md-2">
                                        {{ form.tiempocasado(class='form-control form-control-sm', disabled=True) }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col col-md-6">
                                        <div class="row">
                                            <div class="col col-sm-12 col-md-2">
                                                {{ form.religion.label(class='form-control-label form-control-sm') }}
                                            </div>
                                            <div class="col col-sm-12 col-md-8">
                                                {{ form.religion(class='form-control form-control-sm') }}
                                                {% for error in form.religion.errors %}
                                                <span class="help-block">Error en la descripcion</span>
                                                {% endfor %}                                        
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-md-12">
                                                <div class="form-group">
                                                    {{ form.descri_matriant.label(class='form-control-label form-control-sm') }}
                                                    {{ form.descri_matriant(class='form-control form-control-sm') }}
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-md-12">
                                                <div class="form-group">
                                                    {{ form.descri_hijos.label(class='form-control-label form-control-sm') }}
                                                    {{ form.descri_hijos(class='form-control form-control-sm') }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-md-6">
                                        <div class="row">
                                            <div class="col col-sm-12 col-md-12">
                                                <div class="custom-control custom-checkbox custom-control-inline form-control-sm d-block">
                                                    {{ form.asiste_regular(class='custom-control-input') }}
                                                    {{ form.asiste_regular.label(class='custom-control-label') }}                                            
                                                </div>                                                                               
                                                <div class="card">
                                                    <h5 class="card-header">
                                                        Servicios a los que asiste
                                                    </h5>
                                                    <div class="card-body">
                                                        <div class="col col-md-12">                                                            
                                                            <div class="custom-control custom-checkbox custom-control-inline form-control-sm">
                                                                {{ form.servicio_central(class='custom-control-input', disabled=True) }}
                                                                {{ form.servicio_central.label(class='custom-control-label') }}
                                                            </div>
                                                        </div>
                                                        <div class="col col-md-12">                                                            
                                                            <div class="custom-control custom-checkbox custom-control-inline form-control-sm">
                                                                {{ form.grupo_creci(class='custom-control-input', disabled=True) }}
                                                                {{ form.grupo_creci.label(class='custom-control-label') }}
                                                            </div>
                                                        </div>
                                                        <div class="col col-md-12">                                                            
                                                            <div class="custom-control custom-checkbox custom-control-inline form-control-sm">
                                                                {{ form.servicio_semanal(class='custom-control-input', disabled=True) }}
                                                                {{ form.servicio_semanal.label(class='custom-control-label') }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                                                                                      
                                            </div>
                                        </div>
                                    </div>                                                                                                            
                                </div> 
                                <div class="row">
                                    <div class="col col-md-5">
                                        <div class="form-group">
                                            {{ form.grupo_asiste.label(class='form-control-label form-control-sm') }}
                                            {{ form.grupo_asiste(class='form-control form-control-sm') }}
                                        </div>
                                    </div>
                                    <div class="col col-md-5">
                                        <div class="custom-control custom-checkbox custom-control-inline form-control-sm mt-4">
                                            {{ form.consultagrupo(class='custom-control-input', disabled=True) }}
                                            {{ form.consultagrupo.label(class='custom-control-label') }}
                                        </div>
                                    </div>
                                </div>  
                                <div class="row form-group">
                                    <div class="col col-md-5">
                                        {{ form.descri_recibio.label(class='form-control-label form-control-sm') }}
                                        {{ form.descri_recibio(class='form-control form-control-sm') }}
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-5">
                                        {{ form.descri_asesoria.label(class='form-control-label form-control-sm') }}
                                        {{ form.descri_asesoria(class='form-control form-control-sm') }}
                                    </div>
                                </div> 
                                <div class="row form-group">
                                    <div class="col col-md-5">
                                        <div class="row">
                                            <div class="col col-sm-12 col-md-3">
                                                {{ form.consejero.label(class='form-control-label form-control-sm') }}
                                            </div>
                                            <div class="col col-sm-12 col-md-9">
                                                {{ form.consejero(class='custom-select custom-select-sm') }}
                                                {% for error in form.consejero.errors %}
                                                <span class="help-block">Cargar este campo</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-md-6">
                                        <div class="row">
                                            <div class="col col-sm-12 col-md-3">
                                                {{ form.fecha.label(class='form-control-label form-control-sm') }}
                                            </div>
                                            <div class="col col-sm-12 col-md-5">
                                                {{ form.fecha(class='form-control form-control-sm') }}
                                                {% for error in form.fecha.errors %}
                                                <span class="help-block">Cargar este campo</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>                                                                                                                                                                                         
                                {# pintar_alerta(messages) #}
                            </div>
                            <!--Fin card-body-->
                            {# if bloqueado == false or bloqueado is none #}
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fa fa-dot-circle-o"></i> Registrar
                                </button>
                            </div>
                            {# endif #}
                        </form>
                    </div>
                </div>
            </div>
            <!--Fin primer row-->

        </div>
    </div>
    <!---->
</div>
<!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->
{% endblock %}

{% block mi_script -%}
<!-- JS del formulario -->
<script type="module"
    src="{# url_for('static', filename='jsOperacionales/gestionar_actividades/consejeria/formulario.js') #}"></script>
{%- endblock %}