{% extends 'base.html' %}
{% from 'render_elements.html' import pintar_alerta, pintar_textarea %}


{% block title %}
{{titulo}}
{% endblock %}

{% block mi_css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-confirm.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.bootstrap4.min.css') }}">
<!-- CSS de tempusdominus -->
<link rel="stylesheet"
    href="{{ url_for('static', filename='vendor/tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}">

{% endblock %}

{% block content %}
<!-- MAIN CONTENT-->
<div class="main-content" id="app">

    <!-- Contenido principal -->
    <div class="section__content section__content--p30">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-3 m-b-30">{{titulo}}</h3>
                </div>
            </div>

            <div class="row">
                <div class="col col-sm-12 col-md-12 col-xl-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="form-group row">
                                <label for="materia" class="col-sm-12 col-md-2 col-form-label">Fecha de clase:</label>
                                <div class="col-sm-10 col-md-3">
                                    <input type="text" class="form-control" v-model="fecha_clase" id="fecha_clase" name="fecha_clase" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            
                            <form>
                                <!--Nombre Materia, Curso, Turno-->
                                <div class="form-group row">
                                    <label for="materia" class="col-sm-12 col-md-1 col-form-label">Materia</label>
                                    <div class="col-sm-10 col-md-3">
                                        <input type="text" class="form-control form-control-sm" v-model="materia" id="materia" name="materia" disabled>
                                    </div>
                                    <label for="curso" class="col-sm-12 col-md-1 col-form-label">Curso</label>
                                    <div class="col-sm-10 col-md-3">
                                        <input type="text" class="form-control form-control-sm" v-model="curso" id="curso" name="curso" disabled>
                                    </div>
                                    <label for="turno" class="col-sm-12 col-md-1 col-form-label">Turno</label>
                                    <div class="col-sm-10 col-md-3">
                                        <input type="text" class="form-control form-control-sm" v-model="turno" id="turno" name="turno" disabled>
                                    </div>
                                </div>
                                <!--Fin Nombre Materia, Curso, Turno-->
                                 <!--Nombre curso y combo alumno-->
                                <hr>
                                <div class="form-group row">
                                    <label for="descripcion" class="col-sm-12 col-md-2 col-form-label">Descripción</label>
                                    <div class="col-sm-10 col-md-6">
                                        <input type="text" class="form-control form-control-sm" v-model="descripcion" id="descripcion" name="descripcion">
                                    </div>
                                </div>
                            </form>
                        </div>                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-sm-12 col-md-12 col-xl-12 col-lg-12">

                    <!--Card para la tabla-->
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-03 mb-2">
                                   Detalle
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="tabla_alumnos_registrados" class="table table-borderless table-data3">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">Alumno</th>                                       
                                        <th class="text-right">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="tb">
                                    <tr v-for="item in det_alumnos">
                                        <th v-text="`${item.per_nombres} ${item.per_apellidos}`" style="text-align: center;"></th>                                        
                                        <td>
                                            <button type="button" class="btn btn-primary btn-sm" @click="editarAsignaturas(item)">Asignaturas</button> 
                                            <button type="button" class="btn btn-danger btn-sm" @click="actualizarEstadoInscripcionAlumno(item.per_id)">Anular</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            {{ pintar_alerta(messages) }}
                        </div>
                    </div>
                    <!--Fin card tabla-->

                </div>
            </div>
        </div>
    </div>
    <!---->
</div>

<!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->
{% endblock %}

{% block mi_script %}
<script src="{{ url_for('static', filename='js/jquery-confirm.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.bootstrap4.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.buttons.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons.bootstrap4.js') }}"></script>
<!-- JS de Moment -->
<script src="{{ url_for('static', filename='vendor/moment/moment.js') }}"></script>
<script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
<!-- Vue Js -->
<script src="{{ url_for('static', filename='js/vue.js') }}"></script>

<!-- Controlador -->
<script type='module'
    src="{{ url_for('static', filename='jsOperacionales/gestionar_cursos/asistencia_alumno/form_asistencia.js') }}"></script>


{% endblock %}