{% extends 'base.html' %}
{% from 'render_elements.html' import pintar_alerta, pintar_textarea %}


{% block title %}
{{titulo}}
{% endblock %}

{% block mi_css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-confirm.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.bootstrap4.min.css') }}">
<!-- CSS de tempusdominus -->
<link rel="stylesheet"
    href="{{ url_for('static', filename='vendor/tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}">

{% endblock %}

{% block content %}
<!-- MAIN CONTENT-->
<div class="main-content" id="app">

    <!-- Contenido principal -->
    <div class="section__content section__content--p30">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-3 m-b-30">{{titulo}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col col-sm-12 col-md-12 col-xl-12 col-lg-12">
                    <div class="card">

                        <div class="card-header">
                            
                        </div>
                        <div class="card-body">
                            
                                <table id="tabla_curso" class="table table-borderless table-data3">
                                    <thead>
                                        <tr>
                                            <th>Curso</th>
                                            <th>Asignatura</th>
                                            <th>Fecha</th>                                                                                       
                                            <th class="text-center">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tb">
                                        <tr v-for="item in lista_asistencias">
                                            <td v-text="item.cur_des"></td>
                                            <td v-text="item.asi_des"></td>
                                            <td v-text="item.fecha_larga"></td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-primary btn-sm" @click="">Ver</button> 
                                                <button type="button" class="btn btn-danger btn-sm" @click="">Cargar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            
                        </div>
                        <div class="card-footer">
                            {{ pintar_alerta(messages) }}
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!---->   
</div>

<!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->
{% endblock %}

{% block mi_script %}
<script src="{{ url_for('static', filename='js/jquery-confirm.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.bootstrap4.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.buttons.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons.bootstrap4.js') }}"></script>
<!-- JS de Moment -->
<script src="{{ url_for('static', filename='vendor/moment/moment.js') }}"></script>
<script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
<!-- Vue Js -->
<script src="{{ url_for('static', filename='js/vue.js') }}"></script>
<!-- Controlador -->
<script type='module'
    src="{{ url_for('static', filename='jsOperacionales/gestionar_cursos/asistencia_alumno/index.js') }}"></script>


{% endblock %}
