{% extends 'base.html' %}
{% from 'render_elements.html' import pintar_alerta, pintar_textarea %}


{% block title %}
Personas dadas de baja de Membresía
{% endblock %}

{% block mi_css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-confirm.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.bootstrap4.min.css') }}">
<!-- CSS de EasyAutoComplete -->
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/easyautocomplete/css/easy-autocomplete.min.css') }}">
<style>
    /* Convertir a Mayúscula en esos dos elementos todo lo que escriba el usuario */
    input,
    textarea {

        text-transform: uppercase;

    }
    .easy-autocomplete {
       /* width: auto;*/
    }
</style>
{% endblock %}

{% block content %}
<!-- MAIN CONTENT-->
<div class="main-content">
    <!-- Contenido principal -->
    <div class="section__content section__content--p30">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-3 m-b-30">Registrar Formulario de Miembro Oficial</h3>
                </div>
            </div>
            <div class="row">
                <div class="col col-sm-12 col-md-12 col-xl-12 col-lg-12">
                    <div class="card">

                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-03 mb-2">
                                    <a href="{{ url_for('registrar_miembro_oficial.index_mieofi') }}"
                                        class="btn btn-secondary bt-sm">
                                        <i class="fa fa-angle-left"></i> Volver
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="divTabla" class="table-responsive m-b-40">
                                <table id="tabla_miembros" class="table table-borderless table-data3">
                                    <thead>
                                        <tr>
                                            <th>Miembro</th>
                                            <th>Tipo</th>
                                            <th>Razon baja</th>
                                            <th class="text-right">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tb_miembros">
                                        {% if miembros %}
                                        {% for miembro in miembros %}
                                        <tr>
                                            <td>{{ miembro[1] }}</td>
                                            <td>{{ miembro[3] }}</td>
                                            <td>{{ miembro[4] }}</td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger"
                                                    onclick="mostrar({{ miembro[0] }})">REINCORPORAR</button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            {{ pintar_alerta(messages) }}
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!---->

    <!-- modal reincorporacion -->
    <div class="modal fade" id="modal_reincorporacion" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mediumModalLabel">Desea regresar esta persona a Membresía ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="frmReinc" action="" method="post">
                    <div class="modal-body">

                        <div class="row form-group">
                            <input type="hidden" name="idpersona" id="idpersona">
                            <!-- Campo Persona -->
                            <div class="col col-12">
                                <label for="txt_persona" class="form-control-label form-control-sm">Persona</label>
                                <hr>
                                <input type="text" id="txt_persona" name="txt_persona"
                                    class="form-control form-control-sm" placeholder="Persona" disabled>
                            </div>
                            <!---->
                        </div>                       

                        <div class="row form-group">

                            <div class="col col-12">

                                {{ pintar_textarea("Observacion", '', "txtobs", "txtobs", "30", "10", '') }}

                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" id="btnProceder" class="btn btn-success">Proceder</button>
                            <button type="reset" class="btn btn-secondary" id="btnCancelar"
                                data-dismiss="modal">Cancelar</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end modal -->
</div>

<!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->
{% endblock %}

{% block mi_script %}
<script src="{{ url_for('static', filename='js/jquery-confirm.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.bootstrap4.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.buttons.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons.bootstrap4.js') }}"></script>

<!-- JS de EasyAutoComplete -->
<script src="{{ url_for('static', filename='vendor/easyautocomplete/js/jquery.easy-autocomplete.min.js') }}"></script>
<!-- Controlador -->
<script type="module"
    src="{{ url_for('static', filename='jsOperacionales/miembro_oficial/reincorporacion.js') }}"></script>

{% endblock %}