{% extends 'base.html' %}
{% from 'render_elements.html' import pintar_alerta, pintar_input, pintar_textarea %}


{% block title %}
Formulario Miembro Oficial
{% endblock %}

{% block mi_css -%}

<!-- CSS de Jquery UI -->
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/jquery-ui-1.12.1.custom/jquery-ui.min.css') }}">
<!-- CSS de Jquery UI -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-confirm.min.css') }}">
<!-- CSS de EasyAutoComplete -->
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/easyautocomplete/css/easy-autocomplete.min.css') }}">
<!-- CSS de tempusdominus -->
<link rel="stylesheet"
    href="{{ url_for('static', filename='vendor/tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}">

<style>
    /* Convertir a Mayúscula en esos dos elementos todo lo que escriba el usuario */
    input,
    textarea {

        text-transform: uppercase;

    }
</style>

{% endblock %}

{% block content %}
<!-- MAIN CONTENT-->
<div class="main-content">

    <!-- Contenido Principal -->
    <div class="section__content section__content--p30">
        <div class="container-fluid">

            <!--Inicio primer row-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <a href="{{ url_for('registrar_miembro_oficial.index_mieofi') }}"
                                class="btn btn-secondary bt-sm">
                                <i class="fa fa-angle-left"></i> Volver</a>
                        </div>
                        <!--Inicio card-body-->
                        <div class="card-body">

                            <div class="card-title">
                                <h3 class="text-center title-2"><i class="fa fa-edit"></i> Formulario Miembro Oficial
                                </h3>
                            </div>

                            <hr>

                            <!-- Inicio del formulario -->
                            <form action="" method="post">

                                <!-- Campo oculto para idmiembro/idpersona -->
                                <input type="hidden" name="txt_idmiembro" id="txt_idmiembro">

                                <!-- Persona, razon de alta -->
                                <div class="form-horizontal">
                                    <div class="row form-group">

                                        <!-- Campo Persona con el boton de agregar -->
                                        <div class="col col-sm-12 col-md-12 col-lg-8 col-xl-8">
                                            <div class="input-group">
                                                <input type="text" name="txt_miembro" id="txt_miembro"
                                                    class="form-control form-control-sm"
                                                    placeholder="Buscar Persona...">
                                                <div class="input-group-append">
                                                    <button id="btnFormAdmi" class="btn btn-success btn-sm" type="button">
                                                        <i class="fa fa-file-text"></i> Registrar Formulario de Admisión
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <!---->

                                        <!-- Campo Razon de alta -->
                                        <input type="hidden" name="txt_idrazonalta" id="txt_idrazonalta">
                                        <div class="col col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                            <input type="text" name="txt_razonalta" id="txt_razonalta"
                                                class="form-control form-control-sm" placeholder="Razón de Alta">
                                        </div>
                                        <!---->

                                    </div>
                                </div>
                                <!---->

                                <!-- Campos fechas, estado de membresia -->
                                <div class="row form-group">

                                    <!-- Campo fecha de conversion -->
                                    <div class="col col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                        <div class="form-group">
                                            <label for=txt_fechaconversion"
                                                class="form-control-label form-control-sm">Fecha
                                                de conversión</label>
                                            <div class="form-group">
                                                <div class="input-group date" id="picker_fechaconversion"
                                                    data-target-input="nearest">
                                                    <input type="text"
                                                        class="form-control form-control-sm datetimepicker-input"
                                                        data-target="#picker_fechaconversion" name="txt_fechaconversion"
                                                        id="txt_fechaconversion" onpaste="return false"/>
                                                    <div class="input-group-append" data-target="#picker_fechaconversion"
                                                        data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Campo fecha de bautismo -->
                                    <div class="col col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                        <div class="form-group">
                                            <label for=txt_fechabautismo"
                                                class="form-control-label form-control-sm">Fecha
                                                de bautismo</label>
                                            <div class="form-group">
                                                <div class="input-group date" id="picker_fechabautismo" data-target-input="nearest">
                                                    <input type="text" class="form-control form-control-sm datetimepicker-input" data-target="#picker_fechabautismo"
                                                        name="txt_fechabautismo" id="txt_fechabautismo" onpaste="return false" />
                                                    <div class="input-group-append" data-target="#picker_fechabautismo" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Campo estado de membresia -->
                                    <div class="col col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                        <label for=txt_estadomembresia"
                                            class="form-control-label form-control-sm">Estado de su membresía</label>
                                        <input name="txt_estadomembresia" id="txt_estadomembresia"
                                            class="form-control form-control-sm" list="list_estadomembresia">
                                        <datalist id="list_estadomembresia">
                                            <option value="ACTIVO, CON CARGOS"></option>
                                            <option value="ACTIVO, SIN CARGOS"></option>
                                            <option value="INACTIVO"></option>
                                            <option value="A PRUEBA"></option>
                                            <option value="DADO DE BAJA"></option>
                                            <option value="EN OBSERVACION"></option>
                                        </datalist>
                                    </div>

                                </div>
                                <!---->

                                <!-- Campo lugar de bautismo -->
                                <div class="row form-group">
                                    <div class="col col-sm-12 col-md-12 col-lg-8 col-xl-8">
                                        <label for=txt_lugarbautismo" class="form-control-label form-control-sm">Lugar o
                                            Iglesia de bautismo</label>
                                        <input name="txt_lugarbautismo" id="txt_lugarbautismo"
                                            class="form-control form-control-sm">
                                    </div>
                                </div>
                                <!---->

                                <!-- Campo ministro que lo bautizó, fecha inicio de membresia -->
                                <div class="row form-group">
                                    <div class="col col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                        <label for=txt_ministro" class="form-control-label form-control-sm">Ministro que
                                            lo bautizó</label>
                                        <input name="txt_ministro" id="txt_ministro"
                                            class="form-control form-control-sm">
                                    </div>

                                    <div class="col col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                        <div class="form-group">
                                            <label for=txt_fechabautismo" class="form-control-label form-control-sm">Fecha de inicio de membresía aquí</label>
                                            <div class="form-group">
                                                <div class="input-group date" id="picker_fechainiciomembresia" data-target-input="nearest">
                                                    <input type="text" class="form-control form-control-sm datetimepicker-input"
                                                        data-target="#picker_fechainiciomembresia" name="txt_fechainiciomembresia" id="txt_fechainiciomembresia"
                                                        onpaste="return false" />
                                                    <div class="input-group-append" data-target="#picker_fechainiciomembresia" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <input name="txt_fechainiciomembresia" id="txt_fechainiciomembresia"
                                            class="form-control form-control-sm"> -->
                                    </div>

                                </div>
                                <!---->

                                <!-- Campos check -->
                                <div class="row form-group">
                                    <div class="col col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" name="chk_fuebautizado"
                                                    id="chk_fuebautizado">Fue bautizado en esta iglesia
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input"
                                                    name="chk_padreseniglesia" id="chk_padreseniglesia">Padres son
                                                miembros en esta iglesia
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" name="chk_recibioes"
                                                    id="chk_recibioes">Recibió el Espíritu Santo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!---->

                                <!-- Campo observacion -->
                                <div class="row form-group">
                                    <div class="col col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                        <label for="txt_obs"
                                            class="form-control-label form-control-sm">Observaciones</label>
                                        <textarea name="txt_obs" id="txt_obs" cols="30" rows="5"
                                            class="form-control-sm form-control"></textarea>
                                    </div>
                                </div>

                                <!-- Botones -->
                                <div class="row form-group">
                                    <div class="col col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <button type="button" id="btnGuardar" class="btn btn-primary btn-lg">
                                                    <i class="fa fa-dot-circle-o"></i> Guardar
                                                </button>
                                                <a href="{{ url_for('registrar_documentos_miembro.index_documentos') }}"
                                                    id="btnCancelar" class="btn btn-danger btn-lg">
                                                    <i class="fa  fa-arrow-down"></i> Cancelar
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </form>
                            <!-- Fin del formulario -->
                        </div>
                        <!--Fin card-body-->
                    </div>
                </div>
            </div>
            <!--Fin primer row-->

        </div>
    </div>
    <!---->

</div>
<!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->
{% endblock %}

{% block mi_script -%}
<!-- Js de Jquery UI -->
<script src="{{ url_for('static', filename='vendor/jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>

<!-- Js de Jquery UI -->
<script src="{{ url_for('static', filename='js/jquery-confirm.min.js') }}"></script>

<!-- JS de EasyAutoComplete -->
<script src="{{ url_for('static', filename='vendor/easyautocomplete/js/jquery.easy-autocomplete.min.js') }}"></script>

<!-- JS de Moment -->
<script src="{{ url_for('static', filename='vendor/moment/moment.js') }}"></script>

<!-- JS de tempusdominus/traduccion -->
<script src="{{ url_for('static', filename='vendor/tempusdominus/js/es.js') }}"></script>

<!-- JS de tempusdominus -->
<script src="{{ url_for('static', filename='vendor/tempusdominus/js/tempusdominus-bootstrap-4.min.js') }}"></script>

<!-- Controlador del formulario -->
<script type="module" src="{{ url_for('static', filename='jsOperacionales/miembro_oficial/formulario.js') }}"></script>

{%- endblock %}