{% extends 'base.html' %}
{% from 'render_elements.html' import pintar_alerta, pintar_textarea %}


{% block title %}
Registrar Formulario de Miembro Oficial
{% endblock %}

{% block mi_css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-confirm.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.bootstrap4.min.css') }}">

{% endblock %}

{% block content %}
<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-3 m-b-30">Registrar Formulario de Miembro Oficial</h3>
                </div>
            </div>
            <div class="row">
                <div class="col col-sm-12 col-md-12 col-xl-12 col-lg-12">
                    <div class="card">

                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-03 mb-2">
                                    <a href="{{ url_for('registrar_miembro_oficial.frmMiembro') }}"
                                        class="au-btn au-btn-icon au-btn--green au-btn--small">
                                        <i class="fa fa-male"></i> Nuevo Miembro
                                    </a>
                                </div>
                                <div class="col-md-03 mb-2 ml-2">
                                    <a href="{{ url_for('registrar_miembro_oficial.dadosBaja') }}"
                                        class="au-btn au-btn-icon au-btn--blue au-btn--small ">
                                        <i class="fa fa-group"></i> Personas dadas de Baja de Membresía
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="divTabla" class="table-responsive m-b-40">
                                <table id="tabla_miembros" class="table table-borderless table-data3">
                                    <thead>
                                        <tr>
                                            <th>Miembro</th>
                                            <th>Requisito Cumplido</th>
                                            <th>Estado</th>
                                            <th>Inicio de Membresía</th>
                                            <th class="text-right">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tb_miembros">
                                        {% if lista %}
                                        {% for item in lista %}
                                        <tr>
                                            <td>{{ item[1] }}</td>
                                            <td>{{ item[5] }}</td>
                                            <td>{{ item[3] }}</td>
                                            <td>{{ item[2] }}</td>
                                            <td>
                                                <div class="table-data-feature">
                                                    <a href="{{ url_for('registrar_miembro_oficial.verMiembro', idmiembro=item[0]) }}" class="item btn btn-primary" title="Ver">
                                                        <i class="zmdi zmdi-mail-send"></i>
                                                    </a>
                                                    <button onclick="modificar('{{ item[0] }}')"
                                                        class="item btn btn-warning modificar" data-toggle="tooltip"
                                                        data-placement="top" title="Modificar">
                                                        <i class="zmdi zmdi-edit"></i>
                                                    </button>
                                                    <button onclick="baja('{{ item[0] }}')" class="item btn btn-danger"
                                                        data-toggle="tooltip" data-placement="top" title="Dar de baja">
                                                        <i class="zmdi zmdi-delete"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            {{ pintar_alerta(messages) }}
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- modal dar de baja -->
    <div class="modal fade" id="modal_baja" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mediumModalLabel">Desea dar de baja esta persona ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="frmBaja" action="" method="post">
                    <div class="modal-body">

                        <input type="hidden" name="idadmision" id="idadmision">

                        <div class="row form-group">

                            <!-- Campo Persona -->
                            <div class="col col-12">
                                <label for="txt_persona" class="form-control-label form-control-sm">Persona</label>
                                <hr>
                                <input type="text" id="txt_persona" name="txt_persona"
                                    class="form-control form-control-sm" placeholder="Persona" disabled>
                            </div>
                            <!---->

                        </div>

                        <!-- Radios sobre opciones -->
                        <div class="row form-group">

                            <div class="col col-12">

                                <div class="form-group">
                                    <label for="" class="form-control-label form-control-sm">Razón de la baja</label>
                                </div>

                                <hr>

                                <div class="form-check">
                                    <!--'DISCIPLINA', 'DEFUNCION', 'EXCOMUNION', 'TRASLADO', 'OTRAS'-->

                                    <!-- radio DISCIPLINA-->
                                    <div class="radio">
                                        <label for="chk_disciplina" class="form-check-label ">
                                            <input type="radio" id="chk_disciplina" name="chk_baja" value="DISCIPLINA"
                                                class="form-check-input">DISCIPLINA
                                        </label>
                                    </div>

                                    <!---->

                                    <!-- radio DEFUNCION-->
                                    <div class="radio">
                                        <label for="chk_defuncion" class="form-check-label ">
                                            <input type="radio" id="chk_defuncion" name="chk_baja" value="DEFUNCION"
                                                class="form-check-input">DEFUNCION
                                        </label>
                                    </div>

                                    <!---->

                                    <!-- radio EXCOMUNION-->
                                    <div class="radio">
                                        <label for="chk_excomunion" class="form-check-label ">
                                            <input type="radio" id="chk_excomunion" name="chk_baja" value="EXCOMUNION"
                                                class="form-check-input">EXCOMUNION
                                        </label>
                                    </div>

                                    <!---->

                                    <!-- radio TRASLADO-->
                                    <div class="radio">
                                        <label for="chk_traslado" class="form-check-label ">
                                            <input type="radio" id="chk_traslado" name="chk_baja" value="TRASLADO"
                                                class="form-check-input">TRASLADO
                                        </label>
                                    </div>

                                    <!---->

                                    <!-- radio OTRAS-->
                                    <label for="chk_otras" class="form-check-label ">
                                        <input type="radio" id="chk_otras" name="chk_baja" value="OTRAS"
                                            class="form-check-input" checked>OTRAS
                                    </label>
                                    <!---->

                                </div>

                            </div>

                        </div>

                        <div class="row form-group">

                            <div class="col col-12">

                                {{ pintar_textarea("Observacion", '', "txtobs", "txtobs", "30", "10", '') }}

                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" id="btnProceder" class="btn btn-success">Proceder</button>
                            <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end modal baja -->

</div>

<!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->
{% endblock %}

{% block mi_script %}
<script src="{{ url_for('static', filename='js/jquery-confirm.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.bootstrap4.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.buttons.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons.bootstrap4.js') }}"></script>

<!-- Controlador -->
<script type='module' src="{{ url_for('static', filename='jsOperacionales/miembro_oficial/principal.js') }}"></script>


{% endblock %}