{% extends 'base.html' %}
{% from 'render_elements.html' import pintar_alerta, pintar_textarea %}


{% block title %}
{{titulo}}
{% endblock %}

{% block mi_css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-confirm.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.bootstrap4.min.css') }}">

{% endblock %}

{% block content %}
<!-- MAIN CONTENT-->
<div class="main-content">

    <!-- Contenido principal -->
    <div class="section__content section__content--p30">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-3 m-b-30">{{titulo}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col col-sm-12 col-md-12 col-xl-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row form-group">
                                
                                <div class="col-12 col-md-3">
                                    <select name="selectSm" id="SelectLm" class="form-control-sm form-control">                                                                                                                                                            
                                        {% if anhos %}
                                        {% for a in anhos %}
                                        {% if a[2]==True %}
                                        <option value="{{ a[0] }}" selected>{{ a[1] }} - Activo</option>
                                        {% else %}
                                        <option value="{{ a[0] }}">{{ a[1] }}</option>
                                        {%endif%}
                                        {% endfor%}
                                        {% endif %}
                                </select>
                                </div>
                                <div class="col-md-6">
                                    <a href="" class="au-btn au-btn-icon au-btn--blue au-btn--small">
                                        <i class="zmdi zmdi-plus"></i> Registrar Nueva Actividad
                                    </a>                                    
                                </div>
                            </div>                            
                        </div>

                        <div class="card-body">

                            <table id="tabla_actividades" class="table table-borderless table-data3">
                                <thead>
                                    <tr>
                                        <th>Actividad</th>
                                        <th>Fecha Inicio</th>
                                        <th>Fecha Fin</th>
                                        <th class="text-right">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="tb_actividades">
                                </tbody>
                            </table>

                        </div>
                        <div class="card-footer">
                            {{ pintar_alerta(messages) }}
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!---->

</div>

<!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->
{% endblock %}

{% block mi_script %}
<script src="{{ url_for('static', filename='js/jquery-confirm.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.bootstrap4.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.buttons.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons.bootstrap4.js') }}"></script>

<!-- Controlador -->
<!-- <script type='module'
    src="{{ url_for('static', filename='jsOperacionales/registrar_candidatos/principal.js') }}"></script> -->


{% endblock %}