{% extends 'base.html' %}
{% from 'render_elements.html' import pintar_alerta, pintar_input, pintar_textarea %}


{% block title %}
{{titulo}}
{% endblock %}

{% block mi_css -%}

<!-- CSS de Jquery UI -->
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/jquery-ui-1.12.1.custom/jquery-ui.min.css') }}">
<!-- CSS de Jquery UI -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-confirm.min.css') }}">

<style>
    /* Convertir a Mayúscula en esos dos elementos todo lo que escriba el usuario */
    input,
    textarea {

        text-transform: uppercase;

    }
</style>

{% endblock %}

{% block content %}
<!-- MAIN CONTENT-->
<div class="main-content">

    <!-- Contenido Principal -->
    <div class="section__content section__content--p30">
        <div class="container-fluid">

            <!--Inicio primer row-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <a href="{{ url_for('registrar_asistencia.index_asistencia') }}"
                                class="btn btn-secondary bt-sm">
                                <i class="fa fa-angle-left"></i> Volver</a>
                        </div>
                        <!--Inicio card-body-->
                        <div class="card-body">

                            <div class="card-title">
                                <h3 class="text-center title-2"><i class="fa fa-edit"></i> {{titulo}}
                                </h3>
                            </div>

                            <hr>

                            <div class="form-horizontal">
                                <div class="row form-group">
                                    <input type="hidden" name="idasistencia" id="idasistencia" value="{{ idasistencia if asistencia }}">
                                    <!-- Campo fecha-->
                                    <div class="col col-4">
                                        <div class="form-group">
                                            <label for="txt_fecha"
                                                class="form-control-label form-control-sm">Fecha</label>
                                            <div class="input-group">
                                                {% if asistencia %}
                                                <input type="text" id="txt_fecha" name="txt_fecha"
                                                    class="form-control form-control-sm" value="{{ asistencia[0][1] }}"
                                                    disabled>
                                                {% elif fecha %}
                                                <input type="text" id="txt_fecha" name="txt_fecha"
                                                    class="form-control form-control-sm" value="{{ fecha }}"
                                                    disabled>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <!---->

                                    <!-- Combo -->
                                    <div class="col col-4">
                                        <label for="cbo_evento"
                                            class="form-control-label form-control-sm">Evento</label>
                                        <select name="cbo_evento" id="cbo_evento"
                                            class="custom-select form-control-sm form-control">
                                            <option value="">Elegir...</option>
                                            {% if evento %}
                                            {% for item in evento %}
                                            {% if asistencia and asistencia[0][2]==item[0] %}
                                            <option value="{{ item[0] }}" selected>{{ item[1] }}</option>
                                            {% else %}
                                            <option value="{{ item[0] }}">{{ item[1] }}</option>
                                            {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                    <!---->
                                </div>
                            </div>

                            <div class="row form-group">
                                <!-- Campo -->
                                <div class="col col-7">
                                    <div class="form-group">
                                        <label for="txt_obs"
                                            class="form-control-label form-control-sm">Descripción</label>
                                        <input type="text" id="txt_obs" name="txt_obs"
                                            class="form-control form-control-sm" value="{{ asistencia[0][3] if asistencia }}">
                                    </div>
                                </div>
                                <!---->
                            </div>

                            <div class="row form-group">
                                <div class="col col-12">
                                    <!-- Tabla -->
                                    <h3 class="title-3 m-b-30">Lista</h3>

                                    <table id="tabla" class="table table-hover">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">Persona</th>
                                                <th scope="col">Asistió</th>
                                                <th scope="col">Puntual</th>
                                                <th scope="col">Tipo</th>
                                            </tr>
                                        </thead>
                                        <tbody id='tbody'>
                                            {% if persona %}
                                            {% for item in persona %}
                                            <tr id={{item[0]}}>
                                                <td scope="row">{{ item[2] }} {{ item[3] }}</td>
                                                <td>
                                                    <label class="switch switch-3d switch-primary mr-3">

                                                        <input type="checkbox" class="switch-input">
                                                        <span class="switch-label"></span>
                                                        <span class="switch-handle"></span>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="switch switch-3d switch-success mr-3">

                                                        <input type="checkbox" class="switch-input">
                                                        <span class="switch-label"></span>
                                                        <span class="switch-handle"></span>
                                                    </label>
                                                </td>
                                                <td>{{ item[5] }}</td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                            {% if asistencia %}
                                            {% for item in asistencia %}
                                            <tr id={{item[4]}}>
                                                <td scope="row">{{ item[5] }} {{ item[6] }}</td>
                                                <td>
                                                    <label class="switch switch-3d switch-primary mr-3">

                                                        <input type="checkbox" class="switch-input" {{ 'checked' if item[7]==True }}>
                                                        <span class="switch-label"></span>
                                                        <span class="switch-handle"></span>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="switch switch-3d switch-success mr-3">

                                                        <input type="checkbox" class="switch-input" {{ 'checked' if item[8]==True }}>
                                                        <span class="switch-label"></span>
                                                        <span class="switch-handle"></span>
                                                    </label>
                                                </td>
                                                <td>{{ item[9] }}</td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                    <!---->
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-12">

                                    <div class="card">
                                        <div class="card-body">
                                            <button type="button" id="btnGuardar"
                                                class="btn btn-primary btn-lg">
                                                <i class="fa fa-dot-circle-o"></i> Guardar
                                            </button>
                                            <a href="{{ url_for('registrar_formulario_adicional.index_formadi') }}"
                                                id="btnCancelar" class="btn btn-danger btn-lg">
                                                <i class="fa  fa-arrow-down"></i> Cancelar
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!--Fin card-body-->
                    </div>
                </div>
            </div>
            <!--Fin primer row-->
        </div>
    </div>
    <!---->
</div>
<!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->
{% endblock %}

{% block mi_script -%}
<!-- Js de Jquery UI -->
<script src="{{ url_for('static', filename='vendor/jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>

<!-- Js de Jquery UI -->
<script src="{{ url_for('static', filename='js/jquery-confirm.min.js') }}"></script>

<!-- Js Operativo -->
<script type="module" src="{{ url_for('static', filename='jsOperacionales/gestionar_actividades/asistencia/formulario.js') }}"></script>

{%- endblock %}
