{% extends 'base.html' %}
{% from 'render_elements.html' import pintar_alerta, pintar_input, pintar_textarea %}


{% block title %}
{{titulo}}
{% endblock %}

{% block mi_css -%}

<!-- CSS de Jquery UI -->
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/jquery-ui-1.12.1.custom/jquery-ui.min.css') }}">
<!-- CSS de Jquery UI -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-confirm.min.css') }}">
<!-- CSS de EasyAutoComplete -->
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/easyautocomplete/css/easy-autocomplete.min.css') }}">

<style>
    /* Convertir a Mayúscula en esos dos elementos todo lo que escriba el usuario */
    input,
    textarea {

        text-transform: uppercase;

    }
</style>

{% endblock %}

{% block content %}
<!-- MAIN CONTENT-->
<div class="main-content">

    <!-- Contenido Principal -->
    <div class="section__content section__content--p30">
        <div class="container-fluid">

            <!--Inicio primer row-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <a href="{{ url_for('registrar_obrero.index_obrero') }}" class="btn btn-secondary bt-sm">
                                <i class="fa fa-angle-left"></i> Volver</a>
                        </div>
                        <!--Inicio card-body-->
                        <div class="card-body">

                            <div class="card-title">
                                <h3 class="text-center title-2"><i class="fa fa-edit"></i> {{titulo}}
                                </h3>
                            </div>

                            <hr>

                            <!-- Inicio -->
                            <form action="{{ url_for('registrar_obrero.formularioDatosObrero') }}" method="POST"
                                novalidate>
                                {{ form.csrf_token }}
                                <!-- comite, lider -->
                                <div class="form-horizontal">
                                    <div class="row form-group">
                                        <!--Campo1-->
                                        <div class="col col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                            {{ form.idcomite }}
                                            {{ form.comite.label(class='form-control-label form-control-sm') }}
                                            {{ form.comite(class='form-control form-control-sm', disabled='') }}
                                            {% for error in form.comite.errors %}
                                            <span style="color: red;">Este campo es requerido.</span>
                                            {% endfor %}
                                        </div>
                                        <!--Campo2-->
                                        <div class="col col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                            {{ form.idlider }}
                                            {{ form.lider.label(class='form-control-label form-control-sm') }}
                                            {{ form.lider(class='form-control form-control-sm', disabled='') }}
                                            {% for error in form.lider.errors %}
                                            <span style="color: red;">Este campo es requerido.</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <!---->
                                <div class="row form-group">
                                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                        {{ form.lista_admitido.label(class='form-control-label form-control-sm') }}
                                        {{ form.lista_admitido(class='form-control form-control-sm') }}
                                    </div>
                                    {% if lista_admitidos %}
                                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-3">
                                        <label for="" class="form-control-label form-control-sm"></label>
                                        {{ form.agregaObrero(class='btn btn-primary form-control') }}
                                    </div>
                                    {% endif %}
                                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-3">
                                        <label for="" class="form-control-label form-control-sm"></label>
                                        <a href="{{ url_for('registrar_obrero.obrerosDadosDeBaja', idcomite=form.idcomite.data, estado=false) }}" class="btn btn-primary form-control">OBREROS DADOS DE BAJA</a>
                                    </div>
                                </div>
                            </form>

                            <!--Tabla-->
                            <div class="row form-group">
                                <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div id="divTabla" class="table-responsive m-b-40">
                                                <table id="tabla_detalle" class="table table-borderless table-data3">
                                                    <thead>
                                                        <tr>
                                                            <th>Obrero</th>
                                                            <th>Fecha</th>
                                                            <th>Entrenamiento</th>
                                                            <th>Obs</th>
                                                            <th class="text-right">Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tb_detalle">
                                                        {% if lista_obreros %}
                                                        {% for item in lista_obreros %}
                                                        <tr id="{{ item[1] }}">
                                                            <td class="font-weight-bold">{{ item[2] }}</td>
                                                            <td>{{ item[3] }}</td>
                                                            <td>
                                                                {% if item[4]=='SI' %}
                                                                <span class="role admin">{{item[4]}}</span>
                                                                {% else %}
                                                                {{item[4]}}
                                                                {% endif %}
                                                            </td>
                                                            <td>{{ item[5] }}</td>
                                                            <td>
                                                                <button type="button" id="btnModificar" onclick="modificar('{{ item[0] }}', '{{ item[1] }}')" class="btn btn-primary">Modificar</button>                                                                  
                                                                <button type="button" id="btnBaja" onclick="baja('{{ item[0] }}', '{{ item[1] }}')" class="btn btn-danger">Baja</button>                                                                
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Fin Tabla-->
                            <!-- fin  -->

                        </div>
                        <!--Fin card-body-->
                        <div class="card-footer">
                            {{ pintar_alerta(messages) }}
                        </div>
                    </div>
                </div>
            </div>
            <!--Fin primer row-->

        </div>
    </div>
    <!---->
    <!-- modal dar de baja -->
    <div class="modal fade" id="modal_baja" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mediumModalLabel">Desea dar de baja este comite ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="frmBaja" action="" method="post">
                    <div class="modal-body">                                                

                        <!-- Radios sobre opciones -->
                        <div class="row form-group">

                            <div class="col col-12">

                                <div class="form-group">
                                    <label for="" class="form-control-label form-control-sm">Desea dar de baja este registro ?</label>
                                </div>

                                <hr>
                                
                            </div>

                        </div>

                        <div class="row form-group">

                            <div class="col col-12">

                                {{ pintar_textarea("Observacion", '', "txtobs", "txtobs", "30", "10", '') }}

                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" id="btnProceder" class="btn btn-success">Proceder</button>
                            <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end modal baja -->
</div>
<!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->
{% endblock %}

{% block mi_script -%}
<!-- Js de Jquery UI -->
<script src="{{ url_for('static', filename='vendor/jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>

<!-- Js de Jquery UI -->
<script src="{{ url_for('static', filename='js/jquery-confirm.min.js') }}"></script>

<!-- JS de EasyAutoComplete -->
<script src="{{ url_for('static', filename='vendor/easyautocomplete/js/jquery.easy-autocomplete.min.js') }}"></script>

<!-- JS del formulario -->
<script type="module"
    src="{{ url_for('static', filename='jsOperacionales/registrar_obrero/formulario.js') }}"></script>


{%- endblock %}