<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Trabajo Final Tesis">
    <meta name="author" content="Juan Jose Gonzalez Ramirez">
    <meta name="keywords" content="Academico tesis">

    <!-- Title Page-->
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <!-- Fontfaces CSS-->
    <link href="{{ url_for('static', filename='css/font-face.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/font-awesome-4.7/css/font-awesome.min.css') }}" rel="stylesheet"
        media="all">
    <link href="{{ url_for('static', filename='vendor/font-awesome-5/css/fontawesome-all.min.css') }}" rel="stylesheet"
        media="all">
    <link href="{{ url_for('static', filename='vendor/mdi-font/css/material-design-iconic-font.min.css') }}"
        rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{{ url_for('static', filename='vendor/bootstrap-4.1/bootstrap.min.css')}}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{{ url_for('static', filename='vendor/animsition/animsition.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css') }}"
        rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/wow/animate.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}" rel="stylesheet"
        media="all">
    <link href="{{ url_for('static', filename='vendor/slick/slick.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/perfect-scrollbar/perfect-scrollbar.css') }}" rel="stylesheet"
        media="all">

    <!-- Main CSS-->
    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet" media="all">

    {% block mi_css %}
    {% endblock %}

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a href="{{ url_for('inicio.index') }}">
                            <img src="{{url_for('static', filename='images/icon/ori.png')}}" alt="Sys Iglesia" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        {% if session['grupo'] in ('ADMIN')  %}
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-gear"></i>Gestionar Mantenimiento y Seguridad</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                {% for item in session['menu'] %}
                                {% if item['mod_des'] == 'MANTENIMIENTO Y SEGURIDAD' %}
                                <li>
                                    <a href="{{ url_for(item['pag_direcc']) }}">{{ item['pag_nombre'] }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}

                        {% if session['grupo'] in ('PASTOR', 'SECRETARIA', 'LIDER', 'ADMIN')  %}
                        <li class="has-sub">
                            <a href="#" class="js-arrow">
                                <i class="fas fa-users"></i>Gestionar Membresía
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list" style="display: none;">
                            {% for item in session['menu'] %}
                                {% if item['mod_des'] == 'MEMBRESIA' %}
                                <li>
                                    <a href="{{ url_for(item['pag_direcc']) }}">{{ item['pag_nombre'] }}</a>
                                </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        {% if session['grupo'] in ('PASTOR', 'SECRETARIA', 'SERVIDOR', 'ADMIN')  %}
                        <li class="has-sub">
                            <a href="#" class="js-arrow">
                                <i class="fas fa-calendar-alt"></i>Gestionar Actividades
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list" style="display: none;">
                            {% for item in session['menu'] %}
                                {% if item['mod_des'] == 'ACTIVIDADES' %}
                                <li>
                                    <a href="{{ url_for(item['pag_direcc']) }}">{{ item['pag_nombre'] }}</a>
                                </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                        {% endif %}

                        {% if session['grupo'] in ('MAESTRO', 'PASTOR', 'ADMIN')  %}
                        <li class="has-sub">
                            <a href="#" class="js-arrow">
                                <i class="fas fa-laptop"></i>Gestionar Cursos
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list" style="display: none;">
                            {% for item in session['menu'] %}
                                {% if item['mod_des'] == 'CURSOS' %}
                                <li>
                                    <a href="{{ url_for(item['pag_direcc']) }}">{{ item['pag_nombre'] }}</a>
                                </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                        {% endif %}

                        {% if session['grupo'] in ('PASTOR', 'SECRETARIA','ADMIN')  %}
                        <li class="has-sub">
                            <a href="#" class="js-arrow">
                                <i class="fa fa-file-text"></i>Gestionar Informes
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list" style="display: none;">
                            {% for item in session['menu'] %}
                                {% if item['mod_des'] == 'INFORMES' %}
                                <li>
                                    <a href="{{ url_for(item['pag_direcc']) }}">{{ item['pag_nombre'] }}</a>
                                </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="{{ url_for('inicio.index') }}">
                    <img src="{{url_for('static', filename='images/icon/ori.png')}}" alt="Sys Iglesia" />
                </a>
            </div>
            {% if 'menu' in session %}
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">

                        {% if session['grupo'] in ('ADMIN')  %}
                        <li class="has-sub">
                            <a href="#" class="js-arrow">
                                <i class="fas fa-gear"></i>Gestionar Mantenimiento y Seguridad
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list" style="display: none;">
                            {% for item in session['menu'] %}
                                {% if item['mod_des'] == 'MANTENIMIENTO Y SEGURIDAD' %}
                                <li>
                                    <a href="{{ url_for(item['pag_direcc']) }}">{{ item['pag_nombre'] }}</a>
                                </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                        {% endif %}

                        {% if session['grupo'] in ('PASTOR', 'SECRETARIA', 'LIDER', 'ADMIN')  %}
                        <li class="has-sub">
                            <a href="#" class="js-arrow">
                                <i class="fas fa-users"></i>Gestionar Membresía
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list" style="display: none;">
                            {% for item in session['menu'] %}
                                {% if item['mod_des'] == 'MEMBRESIA' %}
                                <li>
                                    <a href="{{ url_for(item['pag_direcc']) }}">{{ item['pag_nombre'] }}</a>
                                </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                        {% endif %}

                        {% if session['grupo'] in ('PASTOR', 'SECRETARIA', 'SERVIDOR', 'ADMIN')  %}
                        <li class="has-sub">
                            <a href="#" class="js-arrow">
                                <i class="fas fa-calendar-alt"></i>Gestionar Actividades
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list" style="display: none;">
                            {% for item in session['menu'] %}
                                {% if item['mod_des'] == 'ACTIVIDADES' %}
                                <li>
                                    <a href="{{ url_for(item['pag_direcc']) }}">{{ item['pag_nombre'] }}</a>
                                </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                        {% endif %}

                        {% if session['grupo'] in ('MAESTRO', 'PASTOR', 'ADMIN', 'SECRETARIA')  %}
                        <li class="has-sub">
                            <a href="#" class="js-arrow">
                                <i class="fas fa-laptop"></i>Gestionar Cursos
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list" style="display: none;">
                            {% for item in session['menu'] %}
                                {% if item['mod_des'] == 'CURSOS' %}
                                <li>
                                    <a href="{{ url_for(item['pag_direcc']) }}">{{ item['pag_nombre'] }}</a>
                                </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                        {% endif %}

                        {% if session['grupo'] in ('PASTOR', 'SECRETARIA','ADMIN')  %}
                        <li class="has-sub">
                            <a href="#" class="js-arrow">
                                <i class="fa fa-file-text"></i>Gestionar Informes
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list" style="display: none;">
                            {% for item in session['menu'] %}
                                {% if item['mod_des'] == 'INFORMES' %}
                                <li>
                                    <a href="{{ url_for(item['pag_direcc']) }}">{{ item['pag_nombre'] }}</a>
                                </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            {% endif %}
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <!-- <input class="au-input au-input--xl" type="text" name="search"
                                    placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button> -->
                            </form>
                            <div class="header-button">
                                <div class="">
                                    <a href="{{ url_for('static', filename='documentacion/index.html') }}" target="_blank" class="noti__item">
                                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        {% if session['usu_imagen'] != 'None' %}
                                        <div class="image">
                                            <img src="{{url_for('static', filename='multimedia/usuarios/'+session['usu_imagen'])}}" alt="{{ session['username'] }}" />
                                        </div>
                                        {% else %}
                                        <div class="image">
                                            <img src="{{url_for('static', filename='images/icon/ori.png')}}" alt="{{ session['username'] }}" />
                                        </div>
                                        {% endif %}
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">{{ session['username'] }}</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        {% if session['usu_imagen'] != 'None' %}
                                                        <div class="image">
                                                            <img src="{{url_for('static', filename='multimedia/usuarios/'+session['usu_imagen'])}}" alt="{{ session['username'] }}" />
                                                        </div>
                                                        {% else %}
                                                        <div class="image">
                                                            <img src="{{url_for('static', filename='images/icon/ori.png')}}" alt="{{ session['username'] }}" />
                                                        </div>
                                                        {% endif %}
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">{{ session['username'] }}</a>
                                                    </h5>
                                                    {% if session['grupo']=='ADMIN' %}
                                                        <span class="email"><i class="fas fa-key"></i> {{ session['grupo'] }}</span>
                                                    {% else %}
                                                        <span class="email"><i class="fas fa-user"></i> {{ session['grupo'] }}</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="{{ url_for('usuarios.editar', id=session['usu_id']) }}">
                                                        <i class="zmdi zmdi-account"></i>Cuenta</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="{{ url_for('login.logout') }}">
                                                    <i class="zmdi zmdi-power"></i>Cerrar Sesión</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->
            {% block content %}

            {% endblock %}
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="{{ url_for('static', filename='vendor/jquery-3.2.1.min.js') }}"></script>
    <!-- Bootstrap JS-->
    <script src="{{ url_for('static', filename='vendor/bootstrap-4.1/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap-4.1/bootstrap.min.js') }}"></script>
    <!-- Vendor JS       -->
    <script src="{{ url_for('static', filename='vendor/slick/slick.min.js') }}">
    </script>
    <script src="{{ url_for('static', filename='vendor/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/animsition/animsition.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap-progressbar/bootstrap-progressbar.min.js') }}">
    </script>
    <script src="{{ url_for('static', filename='vendor/counter-up/jquery.waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/counter-up/jquery.counterup.min.js') }}">
    </script>
    <script src="{{ url_for('static', filename='vendor/circle-progress/circle-progress.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/chartjs/Chart.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}">
    </script>

    <!-- Main JS-->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    {% block mi_script %}
    {% endblock %}

</body>

</html>
<!-- end document-->