{% extends 'base.html' %}
{% from 'render_elements.html' import pintar_input,pintar_button  %}

{% block title %}
Inicio
{% endblock %}

{% block content %}
<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">Formulario</div>
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-center title-2">Mantener Ciudad</h3>
                            </div>
                            <hr>
                            <form action="{{ url_for('ciudad.guardar_ciudad') }}" method="post" >
                                <input type="hidden" name="idciudad">
                                {{ pintar_input("Descripción", "txtdescripcion", "Aregua...") }}
                                <div class="row">
                                    <div class="col-lg-6">
                                        {{ pintar_button("Guardar", "btnguardar", "",type="submit") }}
                                    </div>
                                    <div class="col-lg-6">
                                        {{ pintar_button("Cancelar", "btncancelar", "",type="reset") }}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->
{% endblock %}