{% extends 'base.html' %}
{% from 'render_elements.html' import pintar_input,pintar_button, pintar_combo, pintar_textarea  %}

{% block title %}
Inicio
{% endblock %}

{% block mi_css %}
<!-- CSS de EasyAutoComplete -->
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/easyautocomplete/css/easy-autocomplete.min.css') }}">

<style>
    /* Convertir a Mayúscula todos elementos todo lo que escriba el usuario */
    input {

        text-transform: uppercase;

    }
</style>

{% endblock %}

{% block content %}
<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <a href="{{ url_for('registrar_requisitos_miembro.index_miembrorequisitos') }}"
                                class="btn btn-secondary bt-sm">
                                <i class="fa fa-angle-left"></i> Volver</a>
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-center title-2">Formulario Requisito</h3>
                            </div>
                            <hr>
                            
                                <input type="hidden" id="idmiembro" value="{{ lista_cab[0] }}">

                                <div class="row">
                                    <div class="col col-sm-12 col-md-12 col-lg-8 col-xl-8">
                                        <div class="form-group">
                                            <label for="txt_miembro"
                                                class="form-control-label form-control-sm">Miembro</label>
                                            <input type="text" name="txt_miembro" id="txt_miembro"
                                                class="form-control form-control-sm" placeholder="Escriba algún nombre.."
                                                value="{{ lista_cab[2] }}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-sm-12 col-md-12 col-lg-8 col-xl-8">
                                        <input type="hidden" id="txt_idrequisito">
                                        <div class="form-group">
                                            <label for="txt_requisito" class="control-label mb-1">Requisitos</label>
                                            <input name="txt_requisito" id="txt_requisito"
                                                class="input-sm form-control-sm form-control" placeholder="Escriba un requisito"/>                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-sm-12 col-md-12 col-lg-8 col-xl-8">
                                        <div class="form-group">
                                            <label for="txt_obs"
                                                class="form-control-label form-control-sm">Observación</label>
                                            <input type="text" name="txt_obs" id="txt_obs"
                                                class="form-control form-control-sm" placeholder="Escriba aquí..">
                                        </div>
                                    </div>
                                    <div class="col col-sm-12 col-md-12 col-lg-2 col-xl-2">
                                        <label for="txt_obs" class="form-control-label form-control-sm">Acción</label>
                                        <button type="button" id="btnAgregaItem" class="btn btn-outline-primary btn-sm">Agregar</button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="form-group">
                                            <table id="tabla_requisitos" class="table table-bordered">
                                                <thead>
                                                    <th>Requisito</th>
                                                    <th>Observación</th>                                                    
                                                    <th>Accion</th>
                                                </thead>
                                                <tbody id="tb_requisitos">

                                                    {% if lista_requi %}

                                                        {% for item in lista_requi %}
                                                        
                                                            <tr id="{{ item[4] }}" style="background-color: #F1F3E8" onclick="eliminarFila()">
                                                                <td>{{ item[5] }}</td>
                                                                <td>{{ item[3] }}</td>
                                                                <td>
                                                                    <button type="button" class="btn btn-outline-danger btn-sm">
                                                                        <i class="fa fa-flash"></i>
                                                                        Eliminar
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        
                                                        {% endfor %}
                                                                                                        
                                                    {% endif %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <hr>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <button type="button" id="btnGuardar" class="btn btn-success btn-block">Guardar</button>
                                    </div>
                                    <div class="col-lg-6">
                                        <button type="button" id="btnCancelar" class="btn btn-danger btn-block">Cancelar</button>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->
{% endblock %}

{% block mi_script %}

<!-- JS de EasyAutoComplete -->
<script src="{{ url_for('static', filename='vendor/easyautocomplete/js/jquery.easy-autocomplete.min.js') }}"></script>

<!-- JS Controlador -->
<script type="module" src="{{ url_for('static', filename='jsOperacionales/requisitos_miembro/formulario_agregar.js') }}"></script>
{% endblock%}