{% extends 'base.html' %}
{% from 'render_elements.html' import pintar_alerta, pintar_textarea %}


{% block title %}
Registrar Documentos de ingreso para miembros
{% endblock %}

{% block mi_css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-confirm.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.bootstrap4.min.css') }}">

{% endblock %}

{% block content %}
<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-3 m-b-30">Registrar requisitos para miembros</h3>
                </div>
            </div>
            <div class="row">
                <div class="col col-sm-12 col-md-12 col-xl-12 col-lg-12">
                    <div class="card">

                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-03 mb-2">
                                    <a href="{{ url_for('registrar_requisitos_miembro.frmRequisito') }}"
                                        class="au-btn au-btn-icon au-btn--green au-btn--small">
                                        <i class="zmdi zmdi-plus"></i> Agregar
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="divTabla" class="table-responsive m-b-40">
                                <table id="tabla_formdocu" class="table table-borderless table-data3">
                                    <thead>
                                        <tr>
                                            <th>Documento</th>
                                            <th>Miembro</th>
                                            <th>Fecha</th>
                                            <th class="text-right">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tb_formdocu">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            {{ pintar_alerta(messages) }}
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- modal ver -->
    <div class="modal fade" id="modalVer" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mediumModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <!--Inicio card-body-->
                    <div class="card-body">

                        <div class="card-title">
                            <h3 class="text-center title-2"><i class="fa fa-edit"></i> Ver datos documento
                            </h3>
                        </div>

                        <hr>

                        <!-- Campos Tipo de documento, fecha -->
                        <div class="form-horizontal">
                            <div class="row form-group">

                                <!-- Combo Tipo de documento -->
                                <div class="col col-sm-12 col-md-12 col-lg-8 col-xl-8">
                                    <label for=txt_tipodocumento" class="form-control-label form-control-sm">Tipo de
                                        documento</label>
                                    <input id="txt_tipodocumento" class="form-control form-control-sm" disabled>
                                </div>
                                <!---->

                                <!-- Campo Fecha -->
                                <div class="col col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                    <label for=txt_tipodocumento"
                                        class="form-control-label form-control-sm">Fecha</label>
                                    <input id="txt_fecha" class="form-control form-control-sm" disabled>
                                </div>
                                <!---->

                            </div>
                        </div>
                        <!---->

                        <!-- Campo miembro -->
                        <div class="row form-group">
                            <div class="col col-6">
                                <label for=txt_miembro" class="form-control-label form-control-sm">Miembro a quien
                                    se otorga</label>
                                <input id="txt_miembro" class="form-control form-control-sm" disabled>
                            </div>
                        </div>
                        <!---->

                        <!-- Campo cónyuge -->
                        <div class="row form-group">
                            <div class="col col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <label for=txt_conyuge" class="form-control-label form-control-sm">Cónyuge(Sólo si
                                    se aplica)</label>
                                <input id="txt_conyuge" class="form-control form-control-sm" disabled>
                            </div>
                        </div>
                        <!---->

                        <!-- Campo oficiador -->
                        <div class="row form-group">
                            <div class="col col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <label for=txt_oficiador" class="form-control-label form-control-sm">Oficiador</label>
                                <input id="txt_oficiador" class="form-control form-control-sm" disabled>
                            </div>
                        </div>
                        <!---->

                        <!-- Campo Declaración Oficial -->
                        <div class="row form-group">
                            <div class="col col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <label for="txt_declaracion" class="form-control-label form-control-sm">Declaración
                                    Oficial</label>
                                <textarea name="txt_declaracion" id="txt_declaracion" cols="30" rows="5"
                                    class="form-control-sm form-control" disabled></textarea>
                            </div>
                        </div>

                        <!-- Campo notas adicionales -->
                        <div class="row form-group">
                            <div class="col col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <label for=txt_notas" class="form-control-label form-control-sm">Notas
                                    Adicionales</label>
                                <input id="txt_notas" class="form-control form-control-sm" disabled>
                            </div>
                        </div>
                        <!---->

                        <!-- Campo testigos -->
                        <div class="row form-group">
                            <div class="col col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <label for=txt_testigo1" class="form-control-label form-control-sm">Testigo</label>
                                <input id="txt_testigo1" class="form-control form-control-sm" disabled>
                            </div>
                            <div class="col col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <label for=txt_testigo2" class="form-control-label form-control-sm">Testigo</label>
                                <input id="txt_testigo2" class="form-control form-control-sm" disabled>
                            </div>
                        </div>
                        <!---->

                    </div>
                    <!--Fin card-body-->

                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                </div>

            </div>
        </div>
    </div>
    <!-- end modal ver -->

</div>

<!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->
{% endblock %}

{% block mi_script %}
<script src="{{ url_for('static', filename='js/jquery-confirm.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.bootstrap4.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.buttons.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons.bootstrap4.js') }}"></script>

<!-- JS para manipular fechas con Moment -->
<script src="{{ url_for('static', filename='vendor/moment/moment.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/moment/moment-with-locales.js') }}"></script>

<!-- JS Operacional del documento -->
<script type="module"
    src="{{ url_for('static', filename='jsOperacionales/documentos_miembro/principal.js') }}"></script>

{% endblock %}